---
import { projectData } from "../data/projectData.astro";
---

<div class="flex flex-col gap-8">
  {
    projectData.map((entry) => (
      <div class="text-neutral-500 font-light">
        <p>{entry.date}</p>
        <a href={entry.url}>
          <p class="text-neutral-800 font-medium">{entry.title}</p>
        </a>
        <p>{entry.description}</p>
        <p class="text-xs">{entry.relevantTech}</p>
      </div>
    ))
  }
</div>
